
$headerFont: 'Source Sans Pro', sans-serif;
$backgroundImg: url(../img/m-h-day.jpg);

$colorsVaribles: (
    fontColor: rgb(35, 37, 44),
    mainBg: #ffffff,
    underlineColor: rgb(0, 140, 154),
    buttonColor: rgb(99, 131, 35),
    sectionCardBackground: rgba(16, 25, 38, .95),
    banerGradientLeft: rgb(96, 129, 35),
    banerGradientRight: rgb(38, 84, 161)
)