$headerFont: 'Source Sans Pro', sans-serif;
$backgroundImg: url(../img/m-h-night.jpg);

$colorsVaribles: (
    fontColor: #ffffff,
    mainBg: rgb(18, 19 ,31),
    underlineColor: rgb(221, 56, 40),
    buttonColor: rgb(227, 149, 44),
    sectionCardBackground: rgb(55, 53, 60),
    banerGradientLeft: rgb(222, 141, 43),
    banerGradientRight: rgb(143, 38, 60)
)